<p>
  <b>Name:</b>
  <%=h @comment.name %>
</p>

<p>
  <b>Entry date:</b>
  <%=h @comment.entry_date %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<p>
  <b>Event:</b>
  <%=h @comment.event_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>